@model ControlFinWeb.App.ViewModels.FiltroContaBancariaVM

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-1">
        <button class=" w-100 btn btn-success novo" data-id="0"><i class="bi bi-plus-lg"></i> Novo</button>
    </div>
    <div class="col-md-11">
        <h3>Registros Bancários</h3>
    </div>
</div>
<hr />

<form asp-action="Index" id="frmFiltroRegistroBancarios">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Mes" type="hidden"/>
    <div class="row">
        <div class="col-md-3">
            <select class="form-select" asp-for="BancoId" asp-items="@Model.ComboBancos"></select>
            <span asp-validation-for="BancoId" class="text-danger"></span>
        </div>
        <div class="col-md-1">
            <input asp-for="Ano" class="form-control" placeholder="ANO" min="2000" max="5000" value="@DateTime.Now.Year" />
            <span asp-validation-for="Ano" class="text-danger"></span>
        </div>
        <div class="col-md-7">
            <nav class="nav nav-pills nav-justified">
                <a class="nav-link" onclick="VerificaMes(1)" value="1">JAN</a>
                <a class="nav-link" onclick="VerificaMes(2)" value="2" >FEV</a>
                <a class="nav-link" onclick="VerificaMes(3)" value="3" href="#">MAR</a>
                <a class="nav-link" onclick="VerificaMes(4)" value="4" href="#">ABR</a>
                <a class="nav-link" onclick="VerificaMes(5)" value="5" href="#">MAI</a>
                <a class="nav-link" onclick="VerificaMes(6)" value="6" href="#">JUN</a>
                <a class="nav-link" onclick="VerificaMes(7)" value="7" href="#">JUL</a>
                <a class="nav-link" onclick="VerificaMes(8)" value="8" href="#">AGO</a>
                <a class="nav-link" onclick="VerificaMes(9)" value="9" href="#">SET</a>
                <a class="nav-link" onclick="VerificaMes(10)" value="10" href="#">OUT</a>
                <a class="nav-link" onclick="VerificaMes(11)" value="11" href="#">NOV</a>
                <a class="nav-link" onclick="VerificaMes(12)" value="12" href="#">DEZ</a>
            </nav>
 
        </div>
     
    </div>
</form>
<div id="tabelaRegistrosBancarios" class="mt-1">
    <partial name="_RegistrosBancarios" model="@Model.ContasBancarias" />
</div>
<div id="modal" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"></div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $("#Ano").blur(function () {
            var data = new Date();
            var ano = data.getFullYear();
            if ($(this).val() == "" || parseInt($(this).val()) < 2000 || parseInt($(this).val()) > 5000) {
                $(this).val(ano);
            }
        });
        
        function VerificaMes(mes){
            $("#Mes").val(mes);
            var bancoId = $("#BancoId").val();
            var ano = $("#Ano").val();
            var dados = $("#frmFiltroRegistroBancarios").serialize();
            $.ajax({
                url: '/ContasBancarias/Filtrar',
                method: 'GET',
                data: dados,
                success: function (retorno) {
                    $("#tabelaRegistrosBancarios").empty();
                    $("#tabelaRegistrosBancarios").html(retorno);
                    JqueryDataTable();
                }
            });
        }

        $(document).ready(function () {
            JqueryDataTable();
        });

        function JqueryDataTable(){
            $('#tabelaRegistros').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                },
                paging: false,
                info: false,
                responsive: true,
                footerCallback: function (row, data, start, end, display) {
                    var numFormat = $.fn.dataTable.render.number('\.', ',', 2).display;
                    var api = this.api();

                    parcelaTotal = api
                        .column(2, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return parseFloat(a.toString().replace(",", ".")) + parseFloat(b.toString().replace(",", "."));
                        }, 0);
                   
                    $(api.column(2).footer()).html(numFormat(parcelaTotal));
                   

                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        }

        function ExibirModalExcluir(id) {
            Swal.fire({
                title: 'Deseja realmente excluir?',
                text: "Este processo não pode ser revertido!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, pode apagar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: "POST",
                        url: "/ContasBancarias/Deletar",
                        data: { id: id },
                        success: function () {
                            location.reload();
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Não é possível excluir, por favor inative o registro!',
                            })
                        }
                    });
                }
            })
        }

        $(document).on(TipoClick().toString(), ".novo", function () {
            var id = $(this).attr("data-id");
            $("#modal").load("/ContasBancarias/Editar?id=" + id, function () {
                $(".modal-title").html("NOVO REGISTRO");
                $("#modal").modal("show");
            })

        });

        $(function () {
            $(document).on(TipoClick().toString(), ".novo", function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/ContasBancarias/Editar?id=" + id, function () {
                    $(".modal-title").html("NOVO REGISTRO");
                    $("#modal").modal("show");
                })
            });

            $(document).on(TipoClick().toString(), ".editar", function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/ContasBancarias/Editar?id=" + id, function () {
                    $(".modal-title").html("ALTERANDO REGISTRO");
                    $("#modal").modal("show");
                })
            });
        })

    </script>
}
