@model ControlFinWeb.App.ViewModels.ContaVM
@using ControlFinWeb.Dominio.ObjetoValor;
@using ControlFinWeb.Dominio.Entidades;
@{
    ViewData["Title"] = "Editar";
}

<h4>Registro</h4>

<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Editar" id="FrmConta" class="center">
            <nav id="navContas">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-Geral-tab" data-bs-toggle="tab" data-bs-target="#nav-Geral" type="button" role="tab" aria-controls="nav-Geral" aria-selected="true">Geral</button>
                    <button class="nav-link" id="nav-Parcelas-tab" data-bs-toggle="tab" data-bs-target="#nav-Parcelas" type="button" role="tab" aria-controls="nav-Parcelas" aria-selected="false">Parcelas</button>
                    <button class="nav-link" id="nav-Arquivos-tab" data-bs-toggle="tab" data-bs-target="#nav-Arquivos" type="button" role="tab" aria-controls="nav-Arquivos" aria-selected="false">Arquivos</button>
                </div>
            </nav>
            <fieldset id="fsAgrupar">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-Geral" role="tabpanel" aria-labelledby="nav-Geral-tab">
                        <br />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" type="hidden" />
                        <div class="row">
                            <div class="col-md-3">
                                <label asp-for="Codigo" class="control-label"></label>
                                <input asp-for="Codigo" class="form-control" readonly />
                                <span asp-validation-for="Codigo" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="DataEmissao" class="control-label"></label>
                                <input asp-for="DataEmissao" class="form-control" type="date" />
                                <span asp-validation-for="DataEmissao" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="TipoConta" class="control-label"></label>
                                <select class="form-select" asp-for="TipoConta" asp-items="Html.GetEnumSelectList<TipoConta>()"></select>
                                <span asp-validation-for="TipoConta" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="TipoPeriodo" class="control-label"></label>
                                <select class="form-select" asp-for="TipoPeriodo" asp-items="Html.GetEnumSelectList<PeriodoConta>()"></select>
                                <span asp-validation-for="TipoPeriodo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="SubGastoId" class="control-label"></label>
                                <select class="form-select" asp-for="SubGastoId" asp-items="ViewBag.SubGastoId">
                                    <option value="0">---Selecione um item---</option>
                                </select>
                                <span asp-validation-for="SubGastoId" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="PessoaId" class="control-label"></label>
                                <select class="form-select" asp-for="PessoaId" asp-items="ViewBag.PessoaId">
                                    <option value="0">---Selecione um item---</option>
                                </select>
                                <span asp-validation-for="PessoaId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label asp-for="NumeroDocumento" class="control-label"></label>
                                <input asp-for="NumeroDocumento" class="form-control" />
                                <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Situacao" class="control-label"></label>
                                <input asp-for="Situacao" class="form-control" readonly />
                                <span asp-validation-for="Situacao" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Observacao" class="control-label"></label>
                                <textarea asp-for="Observacao" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="Observacao" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-Parcelas" role="tabpanel" aria-labelledby="nav-Parcelas-tab">
                        <br />
                        <div id="alertParcelas" role="alert" style="display:none;"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dropdown">
                                    <button class="btn btn-dark dropdown-toggle" type="button" id="opcoes" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-gear-fill"></i> Opções Gerais
                                    </button>
                                    <ul class="dropdown-menu" id="opcoesMenu" aria-labelledby="opcoes">
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-cash-stack"></i> Pagar</a></li>
                                        <li><a class="dropdown-item" onclick=" RemoverParcelas()"><i class="bi bi-trash"></i> Excluir</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <select id="filtroParcelas" asp-items="Html.GetEnumSelectList<SituacaoParcela>()" multiple="multiple"></select>
                            </div>
                        </div>

                        <div class="row">
                            <textarea asp-for="JsonParcelas" id="txtJsonParcelas" class="form-control" rows="1" style="display:none;"></textarea>
                        </div>
                        <div class="mt-3">
                            <table class="table table-bordered table-striped table-hover" id="tabelaParcelas">
                                <thead>
                                    <tr>
                                        <th><input class="form-check-input" id="checkAll" type="checkbox"></th>
                                        <th style="text-align:right">Parcela</th>
                                        <th style="text-align:right">V. Parcela</th>
                                        <th style="text-align:right">V. Reajustado</th>
                                        <th style="text-align:right">V. Aberto</th>
                                        <th style="text-align:right">Vencimento</th>
                                        <th><button type="button" class="w-100 btn btn-sm btn-dark" onclick="AbrirModalGerarParcelas()">Gerar</button></th>
                                    </tr>
                                </thead>
                                <tbody id=tbodyParcelas>
                                </tbody>
                                <tfoot id=tfootParcelas>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-Arquivos" role="tabpanel" aria-labelledby="nav-Arquivos-tab">
                        <div class="card">
                            <div class="card-body">
                                Arquivos (imagens, documentos, videos, etc)
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" onclick="Salvar()" class="w-100 btn btn-success">Salvar</button>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Index" type="button" class="w-100 btn btn-dark">Back to List</a>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

<div id="modal-Gerar" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function() {
            $('#filtroParcelas').multiselect({
                buttonClass: 'form-select',
                templates: {
                    button: '<button type="button" class="multiselect dropdown-toggle" id="filtroSituacao" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
                },
                includeSelectAllOption: true,
                selectAllText: 'Selecionar Todos',
                allSelectedText: 'Todos',
                nonSelectedText: 'Filtro Situação',
                nSelectedText: 'selecionado(s)',

            });
        });

function AbrirModalGerarParcelas() {
            $("#modal-Gerar").load("/Parcelas/ModalGerarParcelas", function() {
                $("#modal-Gerar").modal("show");
            });
        }
    </script>
 }