@model ControlFinWeb.App.ViewModels.ParcelaVM

@{
    ViewData["Title"] = "Gerar Parcelas";
}

<div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="text-black">GERAR PARCELAS</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="font-size: 14px;">
            <input asp-for="JsonParcelas" class="form-control" style="display: none;" />
            <div class="row"  >
                <div class="col-md-3">
                    <label asp-for="ValorDigitado" class="control-label"></label>
                    <input asp-for="ValorDigitado" class="form-control" style="text-align:right" />
                    <span asp-validation-for="ValorDigitado" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Qtd" class="control-label"></label> <input asp-for="Replicar" class="form-check-input" type="checkbox" /><label asp-for="Replicar" class="control-label"></label>
                    <input asp-for="Qtd" class="form-control" type="number" style="text-align:right" />
                    <span asp-validation-for="Qtd" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="PrimeiroVencimento" class="control-label"></label>
                    <input asp-for="PrimeiroVencimento" class="form-control" type="date" style="text-align:right" />
                    <span asp-validation-for="PrimeiroVencimento" class="text-danger"></span>
                </div>

                <div class="col-md-2">
                    <br />
                    <button type="button" class="w-100 btn btn-dark" onclick="GerarNovasParcelas()"><i class="bi bi-plus-lg"></i></button>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <br />
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:right">V. Parcela</th>
                                <th style="text-align:right">Vencimento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id=tbodyParc>
                        </tbody>
                        <tfoot id=tfootParc>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
         <div class="modal-footer">
        <button type="button" class="w-100 btn btn-outline-success">Confirmar</button>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        Parcelas = new Array();
        var tbodyParcelas = document.getElementById("tbodyParc");
        var tfootParcelas = document.getElementById("tfootParc");

        function FixaDuasCasasDecimais(num) {
            return parseFloat(Math.round(num * 100) / 100).toFixed(2);
        };

        function PreencherTableParcelas(parcelas) {
            $("#tbodyParcelas").empty();

            var totalValorParcela = 0;
            var totalRegistro = 0;

            $.each(parcelas, function(i, item) {
                if (item.DataVencimento != null) {
                    var data = new Date(item.DataVencimento);
                    data = data.toLocaleDateString("pt-BR").substring(0, 10);
                } else {
                    var data = "";
                }

                var linha = "<tr>" +
                    "<td align='right'>" + FixaDuasCasasDecimais(item.ValorParcela).replace(".", ",") + "</td>" +
                    "<td align='right'>" + data + "</td>" +
                    "<td align='center'> <button type='button' class='btn btn-primary btn-sm' onclick='ModificarParcela(this)'><i class='bi bi-pencil-square'></i></button></td>" +
                    "</tr>";
                tbodyParcelas.innerHTML += linha;

                totalValorParcela += parseFloat(item.ValorParcela);
                totalRegistro++;

            });

            $('#tfootParcelas').empty();
            var rodape = "<tr style='font-weight: bold;'>" +
                "<td align='right'>" + FixaDuasCasasDecimais(totalValorParcela).replace(".", ",") + "</td>" +
                 "<td align='right'>" + totalRegistro + " Registros" + "</td>" +
                "</tr>";
            tfootParcelas.innerHTML += rodape;

        };

        function GerarNovasParcelas() {

            var valor = $("#ValorDigitado").val();
            var qtd = $("#Qtd").val();
            var primeiroVencimento = $("#PrimeiroVencimento").val();
            var replicar = $("#Replicar").is(':checked');

            $.ajax({
                url: '/Parcelas/GerarNovasParcelas',
                method: 'POST',
                data: { valor: valor, qtd: qtd, primeiroVencimento: primeiroVencimento, replicar: replicar },
                success: function(response) {
                    $("#JsonParcelas").val(response);
                    Parcelas = JSON.parse(response);
                    PreencherTableParcelas(Parcelas);
                }
            });
        }
    </script>
    }
