@model ControlFinWeb.App.ViewModels.PagarParcelaVM

@{
    ViewData["Title"] = "Pagar Parcelas";
}

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="text-black">PAGAR PARCELA(S)</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <fieldset id=fsPagarParcela>
            <div class="modal-body">
                <form id="FrmPagarParcela">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="ValorAPagar" class="control-label"></label>
                            <input asp-for="ValorAPagar" class="form-control" id="ValorPagar" style="text-align:right; font-weight:bold;" readonly />
                            <span asp-validation-for="ValorAPagar" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="DataPagamento" class="control-label"></label>
                            <input asp-for="DataPagamento" class="form-control" type="date" style="text-align:right" />
                            <span asp-validation-for="DataPagamento" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="JurosPorcentual" class="control-label"></label>
                            <input asp-for="JurosPorcentual" class="form-control" style="text-align:right" />
                            <span asp-validation-for="JurosPorcentual" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="JurosValor" class="control-label"></label>
                            <input asp-for="JurosValor" class="form-control" style="text-align:right" />
                            <span asp-validation-for="JurosValor" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="DescontoPorcentual" class="control-label"></label>
                            <input asp-for="DescontoPorcentual" class="form-control" style="text-align:right" />
                            <span asp-validation-for="DescontoPorcentual" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="DescontoValor" class="control-label"></label>
                            <input asp-for="DescontoValor" class="form-control" style="text-align:right" />
                            <span asp-validation-for="DescontoValor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="ValorReajustado" class="control-label"></label>
                            <input asp-for="ValorReajustado" class="form-control" style="text-align:right" readonly />
                            <span asp-validation-for="ValorReajustado" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="ValorPago" class="control-label"></label>
                            <input asp-for="ValorPago" class="form-control" style="text-align:right" />
                            <span asp-validation-for="ValorPago" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="ValorRestante" class="control-label"> Valor Restante</label>
                            <input asp-for="ValorRestante" class="form-control" style="text-align:right" readonly />
                            <span asp-validation-for="ValorRestante" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label asp-for="FormaPagamentoId" class="control-label">Forma Pagamento</label>
                            <select asp-for="FormaPagamentoId" class="form-select" asp-items="ViewBag.FormaPagamentoId">
                                <option value="0">---Selecione um item---</option>
                            </select>
                            <span asp-validation-for="FormaPagamentoId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label asp-for="BancoId" class="control-label"></label>
                            <select asp-for="BancoId" class="form-select" asp-items="ViewBag.BancoId">
                                <option value="0">---Selecione um item---</option>
                            </select>
                            <span asp-validation-for="BancoId" class="text-danger"></span>
                        </div>
                    </div>
                    @*<br />
                    <button type="button" id="btnConfirmarPagamento" class="w-100 btn btn-outline-success btnConfirmarPagamento">Pagar</button>*@

                </form>
            </div>
             <div class="modal-footer">
            <button type="button" class="w-100 btn btn-outline-success btnConfirmarPagamento">Pagar</button>
            </div>
        </fieldset>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(function() {
            //$("#ValorPagar, #ValorRestante, #JurosPorcentual, #JurosValor, #DescontoPorcentual, #DescontoValor, #ValorPago, #ValorRestante").maskMoney({ thousands: '', decimal: ',', allowZero: true });
            console.log('teste1');
            $(".btnConfirmarPagamento").click(function() {
                console.log('teste2');
            });

        });

        

        //function ConfirmarPagamento() {

        //    var dados = $("#FrmPagarParcela").serialize();
        //    console.log(dados);
        //    $.ajax({
        //        url: '/Parcelas/ConfirmarPagamento',
        //        method: 'POST',
        //        data: dados,
        //        success: function(retorno) {
        //            if (retorno == "")
        //                console.log("vazio");
        //            else {
        //                $("#modal").html(retorno);
        //            }
        //        }

        //    });
        //}
       



    </script>
}
