@model ControlFinWeb.App.ViewModels.FaturaVM

@{
    ViewData["Title"] = "Faturas";
}


<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="Fechar()"></button>
        </div>
        <div id="msg" role="alert"></div>
        <div class="modal-body">
            <fieldset id="fsAgrupar">
                <form asp-action="Editar" id="FrmFatura">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="SituacaoFatura" type="hidden" />
                    <div class="form-group">
                        <label asp-for="MesAnoReferencia" class="control-label"></label>
                        <input asp-for="MesAnoReferencia" class="form-control" type="month" />
                        <span asp-validation-for="MesAnoReferencia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CartaoId" class="control-label"></label>
                        <select class="form-select" asp-for="CartaoId" asp-items="@Model.ComboCartoes"></select>
                        <span asp-validation-for="CartaoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PessoaId" class="control-label"></label>
                        <select class="form-select" asp-for="PessoaId" asp-items="@Model.ComboPessoas"></select>
                        <span asp-validation-for="PessoaId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <textarea asp-for="Nome" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <br />
                    <button type="button" onclick="Salvar()" class="w-100 btn btn-success btnConfirmar">Salvar</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            var sit = $("#SituacaoFatura").val().toString();
            if (sit != "Aberta") {
                $('#fsAgrupar').prop('disabled', true);
            }
        });

        function Salvar() {
            var dados = $("#FrmFatura").serialize();
            $.ajax({
                url: '/Faturas/ExisteFatura',
                method: 'GET',
                data: dados,
                success: function (retorno){ 
                    if (retorno == false) {
                        $.ajax({
                            url: '/Faturas/Editar',
                            method: 'POST',
                            data: dados,
                            success: function (retorno) {
                                if (retorno == "") {
                                    $("#modal").load("/Faturas/Pesquisa", function () {});
                                }
                                else {
                                    $("#modal").html(retorno);
                                    if ($("#id").val() > 0)
                                        $(".modal-title").html("ALTERANDO REGISTRO");
                                    else
                                        $(".modal-title").html("NOVO REGISTRO");
                                }
                            }
                        });
                    }
                    else{
                        $("#msg").addClass('alert alert-warning').html("<strong>Aviso!</strong> Fatura já existe!").delay(30000).fadeOut(400);
                    }
                },
                error: function (retorno) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Houve um erro com o status: ' + retorno.status + '. O log foi gerado, entre em contato com o suporte!',
                    })
                }
            });
        }

        function Fechar() {
            $("#modal").load("/Faturas/Pesquisa", function () {
                $("#modal").modal("show");
            });
        }

    </script>
}
