@using ControlFinWeb.Dominio.ObjetoValor
@model IEnumerable<ControlFinWeb.App.ViewModels.FaturaVM>

@{
    ViewData["Title"] = "Pesquisa";
}

<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">PESQUISA DE FATURAS</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="javascript:window.location.reload()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select" id="CartaoId" asp-items="ViewBag.Cartoes">
                        <option value="0">---Selecione um Cartão---</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="form-check form-switch">
                        <input id="SomenteAberto" class="form-check-input" type="checkbox" checked role="switch">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Somente Aberto</label>
                    </div>
                </div>
                  <div class="col-md-4">
                    <button type="button" class="w-100 btn btn-dark" onclick="Filtrar()">Filtrar</button>
                </div>
            </div>
            <div id="tabelaFaturas" class="mt-1">
                <partial name="_TabelaFaturas" />
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        function Filtrar() {
            var cartaoId = $("#CartaoId").val();
            var somenteAtivos = $("#SomenteAberto").prop("checked");
           $.ajax({
               method:"POST",
               url: "/Faturas/Pesquisa",
               data:{cartaoId: cartaoId, somenteAtivos: somenteAtivos},
               success: function(retorno){
                    $("#tabelaFaturas").empty();
                    $("#tabelaFaturas").html(retorno);
               }
           });
           
        }
    </script>
    }
