@using ControlFinWeb.Dominio.ObjetoValor
@model IEnumerable<ControlFinWeb.App.ViewModels.FaturaVM>

@{
    ViewData["Title"] = "Pesquisa";
}

<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">PESQUISA DE FATURAS</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="javascript:window.location.reload()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3">
                    <select class="form-select mt-1" id="CartaoId" asp-items="@Model.First().ComboCartoes"></select>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-switch">
                        <input id="SomenteAberto" class="mt-2 form-check-input" type="checkbox" checked role="switch">
                        <label class="form-check-label mt-1" for="flexSwitchCheckChecked">Somente Aberto</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="button" class="w-100 btn btn-sm btn-primary mt-1" onclick="Filtrar()"><i class="bi bi-funnel"></i> Filtrar</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class=" w-100 btn btn-sm btn-success mt-1 novo" data-id="0"><i class="badge-info bi-plus-lg"></i> Nova Fatura</button>
                </div>
            </div>
            <div id="tabelaFaturas" class="mt-1">
                <partial name="_TabelaFaturas" />
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        function Filtrar() {
            var cartaoId = $("#CartaoId").val();
            var somenteAtivos = $("#SomenteAberto").prop("checked");
            $.ajax({
                method: "POST",
                url: "/Faturas/Pesquisa",
                data: { cartaoId: cartaoId, somenteAtivos: somenteAtivos },
                success: function (retorno) {
                    $("#tabelaFaturas").empty();
                    $("#tabelaFaturas").html(retorno);
                }
            });

        }

        $(function () {
            $(".novo").click(function () {
                $("#modal").modal("hide");
                var id = $(this).attr("data-id");
                $("#modal").load("Editar?id=" + id, function () {
                    $(".modal-title").html("NOVO REGISTRO");
                    $("#modal").modal("show");
                })
            });
        });
    </script>
    }
