@model ControlFinWeb.App.ViewModels.PessoaVM
@using ControlFinWeb.Dominio.ObjetoValor;

@{
    ViewData["Title"] = "Pessoas";
}

<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="javascript:window.location.reload()"></button>
        </div>
        <div class="modal-body">
            <form asp-action="Editar" id="FrmPessoa">
                <fieldset id="fsAgrupar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />
                   
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    <div class="form-group">
                        <label asp-for="Renda" class="control-label"></label>
                        <input asp-for="Renda" class="form-control" />
                        <span asp-validation-for="Renda" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                            <label asp-for="Situacao" class="control-label"></label>
                            <select class="form-select" asp-for="Situacao" asp-items="Html.GetEnumSelectList<Situacao>()"></select>
                            <span asp-validation-for="Situacao" class="text-danger"></span>
                        </div>
                   
                    <br />
                  
                    <br />
                    <button type="button" onclick="Salvar()" class="w-100 btn btn-success">Salvar</button>

                </fieldset>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(function() {
            $("#Renda").maskMoney({ thousands: '', decimal: ',', allowZero: true });

            $(document).ready(function() {
                var sit = parseInt($("#Situacao").val());

                //0 = Ativo | 1 = Inativo
                if (sit == 1) {
                    $('#fsAgrupar').prop('disabled', true);
                }
            });
        });

        function Salvar() {
            var dados = $("#FrmPessoa").serialize();
            $.ajax({
                url: '/Pessoas/Editar',
                method: 'POST',
                data: dados,
                success: function(retorno) {
                    if (retorno == "") {
                        location.reload();
                    }
                    else
                        $("#modal").html(retorno);
                },
                error: function (retorno) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Houve um erro com o status: ' + retorno.status + '. O log foi gerado, entre em contato com o suporte!',
                    })
                }
            });
        }

     

    </script>
}

