@model ControlFinWeb.App.ViewModels.PessoaRendasVM

@{
    ViewData["Title"] = "Adicionar Renda";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="javascript:window.location.reload()"></button>
        </div>
        <div class="modal-body">
            <form asp-action="AdicionarRenda">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="TipoRendaId" class="control-label"></label>
                    <select class="form-select" asp-for="TipoRendaId" asp-items="ViewBag.TipoRendaId">
                        <option value="0">---Selecione um item---</option>
                    </select>
                    <span asp-validation-for="TipoRendaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RendaBruta" class="control-label"></label>
                    <input asp-for="RendaBruta" class="form-control" />
                    <span asp-validation-for="RendaBruta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RendaLiquida" class="control-label"></label>
                    <input asp-for="RendaLiquida" class="form-control" />
                    <span asp-validation-for="RendaLiquida" class="text-danger"></span>
                </div>
                <br />
                <button type="submit" class="w-100 btn btn-dark btnConfirmar">Confirmar</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<h1>EditarRendas</h1>

    <h4>PessoaRendasVM</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditarRendas">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RendaBruta" class="control-label"></label>
                    <input asp-for="RendaBruta" class="form-control" />
                    <span asp-validation-for="RendaBruta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RendaLiquida" class="control-label"></label>
                    <input asp-for="RendaLiquida" class="form-control" />
                    <span asp-validation-for="RendaLiquida" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoRendaId" class="control-label"></label>
                    <input asp-for="TipoRendaId" class="form-control" />
                    <span asp-validation-for="TipoRendaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
