@model ControlFinWeb.App.ViewModels.HoraExtraVM
@using ControlFinWeb.Dominio.ObjetoValor;
@using ControlFinWeb.Dominio.Entidades;

@{
    ViewData["Title"] = "Horas Extras";
}

<div class="modal-dialog modal-lg" data-backdrop="static">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="javascript:window.location.reload()"></button>
        </div>
        <div class="modal-body">
            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="card">
                    <div class="card-header" style="background: darkgrey; font-weight:bold;">QUANTIDADE DE HORAS POR PERÍODO - PADRÃO</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <label asp-for="HorasTrabalhoManha" class="control-label"></label>
                                <input asp-for="HorasTrabalhoManha" class="form-control" type="time"/>
                                <span asp-validation-for="HorasTrabalhoManha" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="HorasTrabalhoTarde" class="control-label"></label>
                                <input asp-for="HorasTrabalhoTarde" class="form-control" type="time"/>
                                <span asp-validation-for="HorasTrabalhoTarde" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="HorasTrabalhoNoite" class="control-label"></label>
                                <input asp-for="HorasTrabalhoNoite" class="form-control" type="time"/>
                                <span asp-validation-for="HorasTrabalhoNoite" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Data" class="control-label"></label>
                                <input asp-for="Data" class="form-control" type="date" />
                                <span asp-validation-for="Data" class="text-danger"></span>
                            </div>
                            <div class="col-9">
                                <label asp-for="PessoaId" class="control-label"></label>
                                <select class="form-select" asp-for="PessoaId" asp-items="ViewBag.PessoaId">
                                    <option value="0">---Selecione um item---</option>
                                </select>
                                <span asp-validation-for="PessoaId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label asp-for="HoraInicioManha" class="control-label"></label>
                                <input asp-for="HoraInicioManha" class="form-control" type="time" />
                                <span asp-validation-for="HoraInicioManha" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label asp-for="HoraFinalManha" class="control-label"></label>
                                <input asp-for="HoraFinalManha" class="form-control" type="time" />
                                <span asp-validation-for="HoraFinalManha" class="text-danger"></span>
                            </div>

                            <div class="col-md-2">
                                <label asp-for="HoraInicioTarde" class="control-label"></label>
                                <input asp-for="HoraInicioTarde" class="form-control" type="time"/>
                                <span asp-validation-for="HoraInicioTarde" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label asp-for="HoraFinalTarde" class="control-label"></label>
                                <input asp-for="HoraFinalTarde" class="form-control" type="time" />
                                <span asp-validation-for="HoraFinalTarde" class="text-danger"></span>
                            </div>
                            <div class="col-2">
                                <label asp-for="HoraInicioNoite" class="control-label"></label>
                                <input asp-for="HoraInicioNoite" class="form-control" type="time"/>
                                <span asp-validation-for="HoraInicioNoite" class="text-danger"></span>
                            </div>
                            <div class="col-2">
                                <label asp-for="HoraFinalNoite" class="control-label"></label>
                                <input asp-for="HoraFinalNoite" class="form-control" type="time"/>
                                <span asp-validation-for="HoraFinalNoite" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <textarea asp-for="Nome" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" class="w-100 btn btn-success btnConfirmar">Salvar</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
