@model ControlFinWeb.App.ViewModels.Acesso.LoginVM

@{
    ViewData["Title"] = "Entrar";
}

<body class="container" style="background-image: url('/img/FundoLogin.jpg'); background-position: center; background-size: cover;">
    <div class="col-md-4 offset-md-4">
        <div class="card my-5" style="opacity: 0.9; ">
            <form class="card-body cardbody-color p-lg-5" asp-action="Entrar" method="post">
                <div class="col mx-auto text-center">
                    <img class="img-fluid" src="~/img/Logo.png" width="150" height="150" />
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <input asp-for="ReturnUrl" type="hidden" />
                @if (ViewData["Mensagem"] != null)
                {
                    <div class="form-group">
                        @Html.Raw(ViewData["Mensagem"])
                    </div>
                }
                <div class="form-floating mb-3">
                    <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="E-mail" >
                    <label asp-validation-for="Email" for="floatingInput">E-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Senha" type="password" class="form-control" id="floatingPassword" placeholder="Senha" >
                    <label asp-validation-for="Senha" for="floatingPassword">Senha</label>
                </div>
                <div class="d-grid">
                    <input type="submit" value="Entrar" class="btn btn-lg btn-success btn-login text-uppercase fw-bold" />
                </div>
            </form>
        </div>
    </div>
</body>

